/*Estilos gerais da página*/
* {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    background: none;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 400px;
}
#pageheader {
    background-color: #eaeaea;
    box-sizing: border-box;
    height: 60px;
    padding: 0 10vw;
    border-bottom: 1px solid #bbb;
    filter: drop-shadow(0px 2px 3px #999);
}

#containermain {
    padding-top: 40px;
}

#pokemonscontainer {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}
#ph__container {
    display: flex;
    align-items: center;
    margin: 0 auto;
    height: 100%;
    margin: 0 auto;
    max-width: 1200px;
}
#ph__title {
    color: #ffcc01;
    font-size: 2rem;
    font-family: Pokemon;
    -webkit-text-stroke: 1px #3363ae;
    width: 0;
    margin-left: 10px;
}
#pc__title{
    color: #ffcc01;
    -webkit-text-stroke: 2px #3363ae;   
}
#ph__logo {
    height: 40px;
}
main ul{
    text-align: center;
}

main ul li h3 {
    padding: 10px 10px;
}

h2 {
    font-size: 70px;
    font-weight: bold;
    color: black;
    text-align: center;
}

form {
    margin-top: 20px;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input[type="text"],
form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button[type="submit"] {
    background-color: #007bff; 
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

form button[type="submit"]:hover {
    background-color: #0056b3; 
}

p {
    text-align: center;
}

p a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

p a:hover {
    text-decoration: underline;
}

.pokemon-card {
    border: 2px solid #000000;
    padding: 20px 10px;
    margin: 10px;
    text-align: center;
    display: inline-block;
    width: 17.26%;
}

.ver-pokemon-btn {
    background-color: #decb1de7; 
    color: #fff;
    padding: 10px 10px;
    text-decoration: none;
    border-radius: 5px;
}

.ver-pokemon-btn:hover {
    background-color: #0056b3;
}

.pokemon-card img {
    max-width: 100px;
    max-height: 100px;
}

nav {
    background-color: #0056b3; 
    padding: 25px 25px;
    margin-top: 30px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 30px;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    background-color: #fff; 
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    width: 25%;
    display: inline-block;
    margin: 10px;
}

nav ul li:hover {
    padding: 15px 25px;
    cursor: pointer;
    background-color: #007bff; 
    font-weight: bold;
}

nav ul li a:hover {
    font-weight: bold;
    box-shadow: 0 0 10px #007bff; 
}

footer {
    background-color: #e0e0e0;
    padding: 50px 50px;
    color: black;
    margin-top: 30px;
}

footer p {
    font-weight: bold;
    font-size: 20px;
}
